/* ========================================
 CONTENEDORES Y LAYOUT
   ======================================== */
.main-container {
  max-width: var(--container-width);
  margin: 0 auto;
  width: 92%;
}

.text-center {
  text-align: center;
}

section {
  scroll-margin-top: 7rem; /* ajusta según el alto de tu header */
}
